* {
  z-index: 11;
  padding: 0;
  margin: 0;
  text-decoration: none;
  user-select: none;
}

body {
  background-color: black;
  animation: start 3s;
  user-select: none;
}

@keyframes start {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 100;
  }
}

@font-face {
  font-family: "helvetica";
  src: url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
      url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
      url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}

.backg {
  position: fixed;
  z-index: 9;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

.backg-overflow {
  position: relative;
  width: 300%;
  height: 300%;
  background-image: url('img/texture.png');
  background-position: 0px 0px;
  background-size: 396px;
  opacity: 1;
  animation: rt 0.5s infinite;
  animation-timing-function: steps(4, end);
}

@keyframes rt {
  to {
      transform: rotate(90deg);
  }
}

.mainlogo {
  position: fixed;
  z-index: 11;
  width: auto;
  height: 95px;
  top: 9px;
  left: 25px;
}

.linkmain {
  z-index: 11;
  display: flex;
  padding-left: 45px;
  margin-top: 120px;
}

.link1, .link2, .link3 {
  margin-right: 44px;
  display: grid;
  color: white;
  font-size: 20px;
  font-family: "helvetica";
  font-weight: 10;
  position: relative;
}

.link1::after, .link2::after, .link3::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: white;
  width: 0;
  transition: 0.3s;
}

.link1:hover:after {
  width: 100%;
}

.link2:hover:after {
  width: 100%;
}

.link3:hover:after {
  width: 100%;
}

.maincontent {
  display: flex; /* Разделяем на две части */
  justify-content: space-between; /* Пространство между частями */
  align-items: center; /* Центрируем элементы по вертикали */
  margin: 100px 45px 0; /* Отступы сверху и по бокам */
  gap: 20px; /* Отступ между колонками */
}

.maintext {
  flex: 1; /* Текст занимает первую часть */
  max-width: 50%; /* Ограничиваем ширину текста */
}

.textbig {
  color: white;
  font-size: 24px;
  font-family: "helvetica";
  font-weight: 10;
  margin-bottom: 15px;
}

.textsmall {
  margin-top: 15px;
  color: white;
  font-size: 15px;
  font-family: "helvetica";
  font-weight: 10;
  line-height: 1.6;
}

.photo {
  flex: 1; /* Фото занимает вторую часть */
  display: flex; /* Центрирование изображения */
  justify-content: center;
  align-items: center;
}

.photo img {
  max-width: 350px; /* Ограничиваем ширину изображения */
  max-height: 350px; /* Ограничиваем высоту изображения */
  width: 100%; /* Делаем адаптивным */
  height: auto; /* Сохраняем пропорции */
  border-radius: 0; /* Убираем закругление, если нужно */
}

.copyright {
  position: fixed; /* Фиксированное положение на экране */
  bottom: 10px; /* Отступ снизу */
  left: 10px; /* Отступ слева */
  font-size: 14px; /* Размер шрифта */
  color: rgba(255, 255, 255, 0.7); /* Полупрозрачный белый текст */
  font-family: 'Montserrat', sans-serif;
}

/* Гирлянда */

.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -2px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
}

.lightrope li {
  position: relative;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  list-style: none;
  margin: 10px;
  padding: 0;
  display: block;
  width: 12px;
  height: 24px;
  border-radius: 50%;
  margin: 20px;
  display: inline-block;
  background: #00f7a5;
  box-shadow: 0px 4.66667px 24px 3px #00f7a5;
  -webkit-animation-name: flash-1;
  animation-name: flash-1;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.lightrope li:nth-child(2n+1) {
  background: cyan;
  box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.5);
  -webkit-animation-name: flash-2;
  animation-name: flash-2;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.lightrope li:nth-child(4n+2) {
  background: #f70094;
  box-shadow: 0px 4.66667px 24px 3px #f70094;
  -webkit-animation-name: flash-3;
  animation-name: flash-3;
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
}

.lightrope li:nth-child(odd) {
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
}

.lightrope li:nth-child(3n+1) {
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
}

.lightrope li:before {
  content: "";
  position: absolute;
  background: #222;
  width: 10px;
  height: 9.33333px;
  border-radius: 3px;
  top: -4.66667px;
  left: 1px;
}

.lightrope li:after {
  content: "";
  top: -14px;
  left: 9px;
  position: absolute;
  width: 52px;
  height: 18.66667px;
  border-bottom: solid #222 2px;
  border-radius: 50%;
}

.lightrope li:last-child:after {
  content: none;
}

.lightrope li:first-child {
  margin-left: -40px;
}

@-webkit-keyframes flash-1 {
  0%, 100% {
    background: #00f7a5;
    box-shadow: 0px 4.66667px 24px 3px #00f7a5;
  }
  50% {
    background: rgba(0, 247, 165, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(0, 247, 165, 0.2);
  }
}

@keyframes flash-1 {
  0%, 100% {
    background: #00f7a5;
    box-shadow: 0px 4.66667px 24px 3px #00f7a5;
  }
  50% {
    background: rgba(0, 247, 165, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(0, 247, 165, 0.2);
  }
}

@-webkit-keyframes flash-2 {
  0%, 100% {
    background: cyan;
    box-shadow: 0px 4.66667px 24px 3px cyan;
  }
  50% {
    background: rgba(0, 255, 255, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.2);
  }
}

@keyframes flash-2 {
  0%, 100% {
    background: cyan;
    box-shadow: 0px 4.66667px 24px 3px cyan;
  }
  50% {
    background: rgba(0, 255, 255, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.2);
  }
}

@-webkit-keyframes flash-3 {
  0%, 100% {
    background: #f70094;
    box-shadow: 0px 4.66667px 24px 3px #f70094;
  }
  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(247, 0, 148, 0.2);
  }
}

@keyframes flash-3 {
  0%, 100% {
    background: #f70094;
    box-shadow: 0px 4.66667px 24px 3px #f70094;
  }
  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(247, 0, 148, 0.2);
  }
}

/* Адаптация для маленьких экранов */
@media (max-width: 900px) {
  .mainlogo {
      position: fixed;
      height: 50px;
      left: 7px;
  }

  .linkmain {
      padding-left: 20px;
      margin-top: 80px;
      margin-bottom: 70px;
  }

  .link1, .link2, .link3 {
      font-size: 15px;
  }

  .maincontent {
      display: block; /* На маленьких экранах элементы располагаются вертикально */
      margin: 20px;
  }

  .maintext {
      max-width: 100%; /* Убираем ограничение ширины текста */
      margin: 0 auto;
      margin-bottom: 20px;
  }

  .textbig {
    font-size: 19px;
  }
  
  .textsmall {
    font-size: 10px;
  }

  .photo {
      margin: 0 auto; /* Центрируем фото */
      text-align: center;
  }

  .photo img {
      width: 200px; /* Уменьшаем фото на маленьких экранах */
  }

  .copyright {
      font-size: 10px;
  }

  .lightrope {
    margin-top: -80px;
  }

}

